// color scheme:
$ltOrange: #c75649;
$darkenLtOrange: #b83f32;
$richBlack: #05161a;
$darkGray: #393c44;
// bindings: 
$navBarColor: $ltOrange;
$removeBtnColor: $darkenLtOrange;
$editBtnColor: #666370;
$upvoteBtnColor: #97BF04;
$downvoteBtnColor: $darkenLtOrange;
$submitBtnColor: $darkenLtOrange;
$createBtnColor: $darkenLtOrange;