// textarea
textarea::-webkit-input-placeholder {
    color: #ffffff !important;
    opacity: 65%
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: #ffffff !important;
    opacity: 65%  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff !important;
    opacity: 65%  
  }
  
  textarea:-ms-input-placeholder {
    color: #ffffff !important;
    opacity: 65%  
  }
  
  textarea::placeholder {
    color: #ffffff !important;
    opacity: 65%  
  }

// selections

  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// text

.navbar-text{
  font-size:22px !important;
  font-family: 'Ubuntu', sans-serif
}

